<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClonksCodingLib.GTAIV" version="1.9.0.38745" targetFramework="net472" />
  <package id="IVSDKDotNetWrapper" version="1.7.0" targetFramework="net472" />
  <package id="ManagedBass" version="3.1.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
</packages>